body {
  background-color: black;
  color: white;
  font-family: "ahamonomonospaced", Courier New;
  font-size:20px;
  text-transform: uppercase;
}

.prompt .output {
display:none;
}

.prompt .active:after {
  content: '_';
}
